<header>
    <h1>Welcome to Panda Company</h1>
    <img src="panda-logo.png" width="500" alt="Hello Panda Web Programming">

    <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Menu1</a></li>
        <li><a href="#">Menu2</a></li>
        <li><a href="#">Menu3</a></li>
    </ul>
</header>